version: '3.8'

services:
  todo-frontend-dev:
    image: node:20
    working_dir: /usr/src/app

    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

    ports:
      - "5173:5173"

    environment:
      VITE_BACKEND_URL: "http://host.docker.internal:3000"

    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
